* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	background: #fbfaf9;
	
    padding: 0;
	margin: 0;
    box-sizing: border-box;
	font-family: 'Lusitana', serif;
}

.menu-container {
	background-color: rgba(36, 56, 54, 0.7);
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}


/* ARTICLE */
article, .article {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	font-size: 1.35rem;
	line-height: 1.5em;
	text-align: left;
}

article p:first-of-type::first-letter,
.article p:first-of-type::first-letter {
	color: #3a3a3a;
	float: left;
	font-size: 3.2em;
	line-height: 0.6em;
	padding-top: 0.2em;
	padding-right: 0.1em;
}

article h1, .article h1 {
	margin-top: 0;
}

article aside.footnotes, .article aside.footnotes {
	display: block;
	padding-top: 1rem;
	margin-top: 5rem;
	font-size: 1.2rem;
	border-top: 1px solid #e2e2e2;
	color: #808080;
}

blockquote {
	font-style: italic;
	color: #808080;
}

.divider {
	width: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	display: block;
	margin: auto;
}

.divider--end {
	width: 8rem;
	padding-top: 5rem;
	display: block;
	margin: auto;
}

/* end article */

/* BLOG POSTS */
.posts-container {
	margin-top: 5rem;
}

@media (max-width: 1023px) {
	.posts-container {
		margin-top: 3rem;
	}
}

.post-summary {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	margin-bottom: 5rem;
}

.post-summary  img {
	display: block;
	width: 100%;
}

.post-summary p {
	font-size: 1.2rem;
	line-height: 1.3em;
}

.post-summary time {
	display: block;
	margin-top: 0.75em;
	font-size: 1rem;
	text-align: right;
	color: #808080;
}
/* end blog posts */

/* PHOTOS */
.photo {
	margin-top: 1em;
	margin-bottom: 1.5em;
	line-height: 1em;
}

.photo img {
	display: block;
	width: 100%;
	margin: 0;
}

.photos img {
	display: block;
	width: 100%;
	margin: 0.75em 0;
}

.photo .description {
	display: block;
	text-align: left;
	font-size: 1rem;
	padding-top: 0.75em;
	padding-bottom: 0.5em;
	color: #808080;
	border-bottom: 1px solid #e2e2e2;
}

.photo-link {
	display: flex;
	height: 250px;
	align-items: center;
	justify-content: center;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.3);
}

.photo-link:hover {
	text-decoration: none;
}

.photo-link:hover .cta:after {
	width: 15px;
}

.photo-link-alexa {
	background-image: url('/img/homepage-photo-2.jpg');
	background-size: cover;
}

.photo-link-services {
	background-image: url('/img/homepage-photo-3.jpg');
	background-size: cover;
}

.photo-link-promises {
	background-image: url('/img/homepage-photo-4.jpg');
	background-size: cover;
}
/* end photos */


/* FOOTER */
footer {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #f9f6ef;
	margin-top: 5rem;
}

footer .logo--footer {
	width: 16rem;
	opacity: 0.6;
}

footer .container {
	padding-top: 3rem;
	padding-bottom: 3rem;	
	color: rgba(0, 0, 0, 0.6);
}

footer address {
	margin-top: 2rem;
}

@media (max-width: 575px) {
	footer .container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	
	footer .logo--footer {
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
}

footer a {
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.5rem;
	text-decoration: none;
}

footer a:hover {
	color: #000000;
}
/* end footer */

a {
	color: #e15a2a;
    text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #3a3a3a;
	line-height: 1.2em;
}

h1, .h1 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h3, h4, h5, h6 {
	font-size: 1.5rem;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media (max-width: 1023px) {
	h1, .h1 {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2rem;
	}

	h2 {
		font-size: 1.75rem;
	}
}


em {
	font-family: 'Lora', serif;
	font-weight: 600;
}

p {
	font-size: 1.35rem;
	line-height: 1.5em;
}

p em {
	font-size: 1.2rem
}

i[title], abbr[title] {
	font-style: italic;
	border-bottom: 1px dashed #e2e2e2;
	cursor: help;
	color: #808080;
	text-decoration: none;
}

/* CTA */
.cta {
	font-size: 2rem;
	font-family: 'Lora', serif;
	color: #ffffff;
	padding: 10px 30px;
	border: 2px solid #ffffff;
}

.cta:after {
	content: '>';
	display: inline-block;
	line-height: 0.7em;
	overflow: hidden;
	width: 0;
	transition: width ease-in-out 150ms;
}
/* end cta */


.breadcrumbs {
	padding-top: 2rem;
	padding-bottom: 0rem;
	font-size: 1.4rem;
}

.menu {
	margin: 0;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	align-items: center;
	
	font-size: 1.4rem;
	text-shadow: 0px 0px 9px #000000;
}

.menu > div {
	padding-top: 0;
	padding-bottom: 0;
}

@media (max-width: 767px) {
	.menu {
		padding: 0;
	}
	.menu > div {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
}

.menu  a {
	color: #ffffff;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

a.a--highlighted {
	text-decoration: underline;
}

.author {
	display: block;
	margin-bottom: 3rem;
	text-align: right;
	font-size: 1.1rem;
	color: #808080;
}

h1 + .author, .h1 + .author {
	margin-top: -1rem;
}

input:not([type='submit']),
textarea {
	border: 2px solid #d0d0d0;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
}

input[type='submit'] {
	width: 100%;
	margin-top: 2rem;
	padding: 0.75rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	

	color: #ffffff;
	background-color: #fd7b4c;
	border: none;
	border-radius: 5px;

	font-size: 1.5rem;
	font-family: Helvetica, Arial, sans-serif;
	transition: all ease-in-out 150ms;
}

input[type='submit']:hover,
input[type='submit']:focus {
	background-color: #e15a2a;
	cursor: pointer;
}

.submit-form label {
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}

.submit-form .input-description{
	font-size: 1.2rem;
	padding-top: 0.5rem;
}
