.logo {
	width: 19rem;
    height: 6rem;
    padding-top: 0.5rem;
}

.back {
	background-color: var(--color-peach);
/*
	background: url(../img/frontpage-background.jpg);
    background-position: 100% 100%;
	background-size: cover;
*/	
}

@media (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
}
