.logo-container {
    padding-bottom: 3rem;
}

.logo {
	width: 18rem;
}

.back {
	background-color: var(--color-peach);
/*
	background: url(../img/frontpage-background.jpg);
    background-position: 100% 100%;
	background-size: cover;
*/	
}

@media (max-width: 1023px) {
	.logo-container {
		margin-bottom: 3rem;
	}
	
	.logo-container  h1 {
		margin-top: 1.5rem;
	}
	
	.back {
		padding-top: 3rem;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.logo-container {
		margin-bottom: 6rem;
	}
	
	.logo-container  h1 {
		margin-top: 2rem;
	}
	
	.back {
		padding-top: 8rem;
	}
}
