* {
    box-sizing: border-box;
    --color-light-orange: #fbfaf9;
    --color-peach: #f4f1e9;
    --color-dark-peach: #ecdde0;
    --color-purple: #833746;
    --color-light-purple: #984355;
    --color-orange: #e15a2a;
    --color-dark-orange: #ed3d0f;
    --color-dark-grey: #3a3a3a;
    --color-grey: #808080;
    --color-light-grey: #cecece;
}

html {
    font-size: 13px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lusitana', serif;
}

.logo {
    width: 19rem;
    height: 6rem;
    padding-top: 0.5rem;
}

.back {
    background-color: var(--color-peach);
}


.hint {
    color: var(--color-grey);
}

.latest-posts {
    margin-top: 4rem;
}

.latest-posts h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.latest-img {
    background-size: cover;
    background-position: 50%;
}

.featured-post h3 {
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
}

.featured-post .row:not(:last-child) {
    margin-bottom: 1rem;
}

.featured-img {
    display: block;
    width: 100%;
}

.nav {
    background-color: var(--color-purple);
}
.nav a {
    color: white;
}

.nav a:hover {
    color: white;
}
.nav .internal-link {
    font-size: 1rem;
    font-family: sans-serif;
    color: #ffffff;
}
.nav .internal-link.important {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    background: var(--color-light-purple);
}
.nav .external-link {
    display: inline-block;
    font-size: 1.5rem;
    color: #ffffff;
}

.nav--second {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    background-color: var(--color-light-purple);
    /*border-bottom: 1px solid var(--color-dark-peach);*/
    z-index: 99;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0.9rem 0;
}
.nav--second .row {
    max-width: 800px;
    margin: auto;
}
.nav--mobile {
    position: absolute;
    top: 6.3rem;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 30rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    background-color: var(--color-light-purple);
}
.nav__content-links {
    flex-direction: column !important;
    text-transform: uppercase;
    padding-top: 1.5rem;
}
.nav__content-links a {
    padding: 1rem;
    font-size: 1.25rem;
}
.nav__content-links a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__social {
    margin-bottom: 2rem;
    font-size: 2rem;
}
.nav__site-links {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    right: 1rem;
}
.nav__toggle {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.9rem;
    background: none;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

.hide {
    display: none !important;
}

@media (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
}

/* xs */
@media (max-width: 767px) {
    .latest-row {
        margin-bottom: 3rem;
    }
    .latest-img {
        height: 16rem;
        margin-bottom: 1rem;
    }
    .latest-posts {
        margin-top: 2rem;
    }
    .nav {
        padding: 0 !important;
    }
    p {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .hide-xs {
        display: none !important;
    }
    .logo {
        width: 17rem;
    }
}

/* xs up */
@media (min-width: 768px) {
    .latest-row,
    .latest-img {
        height: 100%;
    }
    .hide-md {
        display: none !important;
    }
}



/* ARTICLE */
article, .article {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    font-size: 1.35rem;
    line-height: 1.5em;
    text-align: left;
    color: #262626;
}

article p:first-of-type::first-letter,
.article p:first-of-type::first-letter {
    color: #3a3a3a;
    float: left;
    font-size: 3.2em;
    line-height: 0.6em;
    padding-top: 0.2em;
    padding-right: 0.1em;
}

article h1, .article h1 {
    margin-top: 0;
}

article aside.footnotes, .article aside.footnotes {
    display: block;
    padding-top: 1rem;
    margin-top: 5rem;
    font-size: 1.2rem;
    border-top: 1px solid #e2e2e2;
    color: #808080;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #878787;
    margin: 0;
    padding-left: 12px;
}

.divider {
    width: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
    margin: auto;
}

.divider--end {
    width: 8rem;
    padding-top: 5rem;
    display: block;
    margin: auto;
}

/* end article */

/* BLOG POSTS */
.posts-container {
    margin-top: 5rem;
}

@media (max-width: 1023px) {
    .posts-container {
        margin-top: 3rem;
    }
}

.post-summary {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-bottom: 5rem;
}

.post-summary img {
    display: block;
    width: 100%;
}

.post-summary p {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin: 1.25rem 0;
}

.post-summary time {
    display: block;
    margin-top: 0.75em;
    font-size: 1rem;
    text-align: right;
    color: #808080;
}
/* end blog posts */

/* PHOTOS */
.photo {
    margin-top: 1em;
    margin-bottom: 1.5em;
    line-height: 1em;
}

.photo img {
    display: block;
    width: 100%;
    margin: 0;
}

.photos img {
    display: block;
    width: 100%;
    margin: 0.75em 0;
}

.photo .description {
    display: block;
    text-align: left;
    font-size: 1rem;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
    color: #808080;
    border-bottom: 1px solid #e2e2e2;
}

.photo-link {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.3);
}

.photo-link:hover {
    text-decoration: none;
}

.photo-link:hover .cta:after {
    width: 15px;
}

.photo-link-alexa {
    background-image: url('/img/homepage-photo-2.jpg');
    background-size: cover;
}

.photo-link-services {
    background-image: url('/img/homepage-photo-3.jpg');
    background-size: cover;
}

.photo-link-promises {
    background-image: url('/img/homepage-photo-4.jpg');
    background-size: cover;
}
/* end photos */


/* FOOTER */
footer {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f9f6ef;
    margin-top: 5rem;
}

footer .logo--footer {
    width: 16rem;
    opacity: 0.6;
}

footer .container {
    padding-top: 3rem;
    padding-bottom: 3rem;    
    color: rgba(0, 0, 0, 0.6);
}

footer address {
    margin-top: 2rem;
}

@media (max-width: 575px) {
    footer .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    footer .logo--footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

footer a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}
/* end footer */

a {
    color: var(--color-orange);
    text-decoration: none;
}

a:hover {
    color: var(--color-dark-orange);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #3a3a3a;
    line-height: 1.2em;
}

h1, .h1 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h3, h4, h5, h6 {
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

@media (max-width: 1023px) {
    h1, .h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}


em {
    font-weight: 600;
}

p {
    font-size: 1.35rem;
    line-height: 1.5em;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

p em {
    font-size: 1.2rem
}

i[title], abbr[title] {
    font-style: italic;
    border-bottom: 1px dashed #e2e2e2;
    cursor: help;
    color: #808080;
    text-decoration: none;
}

/* CTA */
.cta {
    font-size: 2rem;
    font-family: 'Lora', serif;
    color: #ffffff;
    padding: 10px 30px;
    border: 2px solid #ffffff;
}

.cta:after {
    content: '>';
    display: inline-block;
    line-height: 0.7em;
    overflow: hidden;
    width: 0;
    transition: width ease-in-out 150ms;
}
/* end cta */


.breadcrumbs {
    padding-top: 2rem;
    padding-bottom: 0rem;
    font-size: 1.4rem;
}

a.a--highlighted {
    text-decoration: underline;
}

.author {
    display: block;
    margin-bottom: 3rem;
    text-align: right;
    font-size: 1.1rem;
    color: #808080;
}

.category {
    color: var(--color-grey);
    text-decoration: underline;
}

h1 + .author, .h1 + .author {
    margin-top: -1rem;
}

input:not([type='submit']),
textarea {
    border: 2px solid #d0d0d0;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

input[type='submit'] {
    width: 100%;
    margin-top: 2rem;
    padding: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    

    color: #ffffff;
    background-color: #fd7b4c;
    border: none;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    transition: all ease-in-out 150ms;
}

input[type='submit']:hover,
input[type='submit']:focus {
    background-color: #e15a2a;
    cursor: pointer;
}

.submit-form label {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

.submit-form .input-description{
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
