---
title: Home
layout: page-wide
---

{% assign latest = site.posts[0] %}
{% assign latest_category = latest.categories[0] %}

<section class="container latest-posts">
    <a href="{{ latest.url }}" title="{{ latest.title }}"></a>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="row latest-row">
                <div class="col-xs-12 col-md-6 latest-img" style="background-image: url({{ latest.image_url }})">
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>
                        <a href="{{ latest.url }}" title="{{ latest.title }}">{{ latest.title }}</a>
                    </h2>
                    <p>
                        {{ latest.excerpt }}.
                    </p>
                    <div class="hint">
                        <time datetime="{{ latest.date | date:'%Y-%m-%d' }}">{{ latest.date | date_to_long_string: "ordinal" }}</time>
                        in {% include category.html category=latest_category %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-5 featured-post">
            {% for i in (1..3) %}
            {% assign featured = site.posts[i] %}
            {% assign featured_category = featured.categories[0] %}
            <div class="row">
                <div class="col-xs-4 col-lg-3">
                    <img class="featured-img" src="{{ featured.image_url }}" alt="{{ featured.image_description }}">
                </div>
                <div class="col-xs-8 col-lg-9">
                    <h3>
                        <a href="{{ featured.url }}" title="{{ featured.title }}">{{ featured.title }}</a>
                    </h3>
                    <div class="hint">
                        <time datetime="{{ featured.date | date:'%Y-%m-%d' }}">{{ featured.date | date_to_long_string: "ordinal" }}</time>
                        in {% include category.html category=featured_category %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <br/>
    <br/>

    <div class="row center-xs">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <h2>We also have a seasonal wedding inspiration newsletter</h2>
            <p>For the inspiration seekers and the lovers of all seasons:
            we promise to only send one email per season filled with hand-picked wedding photos and posts.</p>

            {% include newsletter.html %}
        </div>
    </div>

    <img class="divider--end" role="presentation" src="/img/decorations/end-divider.svg"/>
</section>
