<div class="row center-xs">
    <div class="col-xs-12">
        <div class="photo">
            <img src="/img/blog/{{ page.title | slugify: 'latin' }}/{{ include.title | slugify: 'latin' }}.jpg" alt="{{ include.description }}"/>
            <div class="description">

                {{ include.title }}.
                {% if include.credit_name %}
                Photo from
                <a href="{{ include.credit_url }}" target="_blank" title="{{ include.credit_name }}" rel="external">{{ include.credit_name }}</a>.
                {% endif %}

                {% if include.extra_credit %}
                {{ include.extra_credit }}
                <a href="{{ include.extra_credit_url }}" target="_blank" title="{{ include.extra_credit_name }}" rel="external">{{ include.extra_credit_name }}</a>.
                {% endif %}

                {% if include.extra_credit_2 %}
                {{ include.extra_credit_2 }}
                <a href="{{ include.extra_credit_2_url }}" target="_blank" title="{{ include.extra_credit_2_name }}" rel="external">{{ include.extra_credit_2_name }}</a>.
                {% endif %}

            </div>
        </div>
    </div>
</div>
