{% case include.category %}
    {% when "inspiration" %}
        {% assign name = "Inspiration + Ideas" %}
        {% capture url %}
            {% link inspiration.html %}
        {% endcapture %}
    {% when "featured-weddings" %}
        {% assign name = "Featured Weddings" %}
        {% capture url %}
            {% link featured-weddings.html %}
        {% endcapture %}
    {% when "planning-tips" %}
        {% assign name = "Planning Tips" %}
        {% capture url %}
            {% link planning-tips.html %}
        {% endcapture %}
    {% when "blog" %}
        {% assign name = "Blog" %}
        {% capture url %}
            {% link blog.html %}
        {% endcapture %}
{% endcase %}

<a class="category" href="{{ url }}">{{ name }}</a>
