<footer>
	<div class="container">
		<div class="row center-xs middle-xs between-xs start-md">
			<div class="col-xs-12 col-sm-6 last-xs first-sm">
				<a href="/">
					<img class="logo--footer" src="/img/logo/wedding-season-logo-wide-black.svg" alt="wedding season logo"/>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row center-xs end-md">
					<div class="col-xs-12">
						<div class="row middle-xs">
							<div class="col-xs">
								Get in touch:
							</div>
							<div class="col-xs-3 col-sm-2 col-md-1">
								<a href="https://www.instagram.com/weddingseasonevents/" target="_blank" aria-label="Wedding Season on Instagram" title="Wedding Season on Instagram">
									<i class="fa fa-instagram"></i>
								</a>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-1">
								<a href="https://www.pinterest.com/weddingseason_events/" target="_blank" aria-label="Wedding Season on Pinterest" title="Wedding Season on Pinterest">
									<i class="fa fa-pinterest"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row center-xs end-sm">
					<div class="col-xs-12">
						<address>
							Wedding Season<br/>
							Nixvej 2A, 4700 Næstved, Denmark
						</address>
					</div>
				</div>
			</div>	
		</div>
	</div>
</footer>
