<div class="container-fluid top-nav">
    <div class="container">
        <div class="row between-xs">
            <div class="col-xs-6 col-md-4 internal-links">
                    {% if page.url != "/" %}
                    <a href="{% link index.html %}">Home</a>
                    {% endif %}
                    <a href="{% link about.html %}">About</a>
                    <a href="{% link get-in-touch.html %}">Get in touch</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 external-links">
                <div class="row between-xs">
                    <div class="col-xs">
                        <a href="https://www.instagram.com/weddingseason.events/" target="_blank" aria-label="Wedding Season on Instagram" title="Wedding Season on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-xs">
                        <a href="https://www.pinterest.com/weddingseason_events/" target="_blank" aria-label="Wedding Season on Pinterest" title="Wedding Season on Pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <div class="col-xs">
                        <a href="https://www.facebook.com/weddingseason.events" target="_blank" aria-label="Wedding Season on Facebook" title="Wedding Season on Facebook">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
