---
layout: default
css: index.css
---
{% include nav-top.html %}
<div class="back">
    <div class="container logo-container">
        <div class="row">
            <div class="col-xs-12 center-xs">
                <a href="/" title="Wedding Seasons Homepage">
                    <img class="logo" src="/img/logo/wedding-season-circle.png" alt="wedding season logo"/>
                </a>
            </div>
        </div>
    </div>
    {% include nav.html %}
</div>
<main>
    {{ content }}
</main>
