---
layout: page-wide
---

{% case page.categories[0] %}
    {% when "inspiration" %}
        {% assign name = "Inspiration + Ideas" %}
        {% capture url %}
            {% link inspiration.html %}
        {% endcapture %}
    {% when "featured-weddings" %}
        {% assign name = "Featured Weddings" %}
        {% capture url %}
            {% link featured-weddings.html %}
        {% endcapture %}
    {% when "planning-tips" %}
        {% assign name = "Planning Tips" %}
        {% capture url %}
            {% link planning-tips.html %}
        {% endcapture %}
    {% when "blog" %}
        {% assign name = "Blog" %}
        {% capture url %}
            {% link blog.html %}
        {% endcapture %}
{% endcase%}


<div class="container">
    <div class="row center-xs">
        <article class="col-xs-12 col-sm-11 col-md-9 col-lg-8">
            <header>
                <h1>{{ page.title }}</h1>
                <div class="author">
                    <div>
                        <a class="category" href="{{ url }}">{{ name }}</a>
                    </div>
                    Posted by <a href="{{ page.author_url }}" rel="author">{{ page.author }}</a> on <time datetime="{{ page.date | date:'%Y-%m-%d' }}">
                        {{ page.date | date_to_long_string: "ordinal" }}
                    </time>
                </div>
            </header>
            <main>
                {{ content }}
            </main>
        </article>
    </div>
</div>

<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
